<!DOCTYPE html>
<html lang="it">
  <head>
    <link rel="icon" href="../static/image/logo.png" />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
    <meta name="theme-color" content="white" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Audiowide"
    />
    <title>Games & Manga Shop</title>

    <link rel="stylesheet" href="../static/style.css" />

    <script src="../static/main.js"></script>
    <script type="module">
      import { loadNavbar } from '{{ url_for("static", filename="navbar.js")}}';

      document.addEventListener("DOMContentLoaded", () => {
        loadNavbar();
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <nav id="navbar"></nav>
    <div class="container-fluid" style="padding: 0 !important">
      <div class="d-flex flex-column" style="gap: 10rem; padding-top: 4.5rem">
        <div class="banner">
          <img
            class="banner-img"
            src="../static/image/sfondo_natale.png"
            alt="offerte di natale"
          />
        </div>
        <!-- Showing the latest videogames -->
        <div class="d-flex flex-column pt-5">
          <p
            class="d-flex aling-items-center justify-content-center"
            style="font-size: 2rem"
          >
            Ultimi arrivi
          </p>
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
            style="height: 36.5rem !important"
          >
            <div class="carousel-inner">
              {% for i in range(0, giochi|length, 3) %}
              <div class="carousel-item {% if i == 0 %}active{% endif %} h-100">
                <div
                  class="d-flex align-items-stretch justify-content-center"
                  style="gap: 1rem"
                >
                  {% for j in range(i, i + 3) %} {% if j < giochi|length %}
                  <form method="post" id="buy-latests-games-form-{{ j }}">
                    <div
                      class="card"
                      style="width: 18rem; height: 100% !important"
                    >
                      <img
                        src="{{ url_for('static', filename='image/' + giochi[j][7]) }}"
                        class="card-img-top"
                        alt="game"
                        style="object-fit: cover; min-height: 22rem !important"
                      />
                      <div
                        class="card-body text-center align-items-center justify-content-between"
                      >
                        <h5 class="card-title">{{ giochi[j][1] }}</h5>
                        <p class="card-text">{{ giochi[j][2] }}€</p>
                      </div>
                      <div
                        class="card-footer border border-0 bg-white d-flex align-items-center justify-content-center"
                      >
                        <input
                          type="hidden"
                          value="{{giochi[j][0]}}"
                          name="item_id"
                        />
                        <button
                          type="submit"
                          class="btn btn-primary"
                          onclick="handleAddItemToCart('buy-latests-games-form-{{ j }}')"
                        >
                          Compra ora
                        </button>
                      </div>
                    </div>
                  </form>
                  {% endif %} {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div
            id="carouselDoubleExampleIndicatorsResponsive"
            class="carousel slide"
            data-bs-ride="carousel"
            style="height: 36.5rem !important"
          >
            <div class="carousel-inner">
              {% for i in range(0, giochi|length, 2) %}
              <div class="carousel-item {% if i == 0 %}active{% endif %} h-100">
                <div
                  class="d-flex align-items-stretch justify-content-center"
                  style="gap: 1rem"
                >
                  {% for j in range(i, i + 2) %} {% if j < giochi|length %}
                  <form
                    method="post"
                    id="buy-latests-games-form-{{ j }}-responsive-double"
                  >
                    <div
                      class="card"
                      style="width: 18rem; height: 100% !important"
                    >
                      <img
                        src="{{ url_for('static', filename='image/' + giochi[j][7]) }}"
                        class="card-img-top"
                        alt="game"
                        style="object-fit: cover; min-height: 22rem !important"
                      />
                      <div
                        class="card-body text-center align-items-center justify-content-between"
                      >
                        <h5 class="card-title">{{ giochi[j][1] }}</h5>
                        <p class="card-text">{{ giochi[j][2] }}€</p>
                      </div>
                      <div
                        class="card-footer border border-0 bg-white d-flex align-items-center justify-content-center"
                      >
                        <input
                          type="hidden"
                          value="{{ giochi[j][0] }}"
                          name="item_id"
                        />
                        <button
                          type="submit"
                          class="btn btn-primary"
                          onclick="handleAddItemToCart('buy-latests-games-form-{{ j }}-responsive-double')"
                        >
                          Compra ora
                        </button>
                      </div>
                    </div>
                  </form>
                  {% endif %} {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselDoubleExampleIndicatorsResponsive"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselDoubleExampleIndicatorsResponsive"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div
            id="carouselExampleIndicatorsResponsive"
            class="carousel slide"
            data-bs-ride="carousel"
            style="height: 36.5rem !important"
          >
            <div class="carousel-inner">
              {% for i in range(0, giochi|length, 1) %}
              <div class="carousel-item {% if i == 0 %}active{% endif %} h-100">
                <div
                  class="d-flex align-items-stretch justify-content-center"
                  style="gap: 1rem"
                >
                  {% for j in range(i, i + 1) %} {% if j < giochi|length %}
                  <form
                    method="post"
                    id="buy-latests-games-form-{{ j }}-responsive"
                  >
                    <div
                      class="card"
                      style="width: 18rem; height: 100% !important"
                    >
                      <img
                        src="{{ url_for('static', filename='image/' + giochi[j][7]) }}"
                        class="card-img-top"
                        alt="game"
                        style="object-fit: cover; min-height: 22rem !important"
                      />
                      <div
                        class="card-body text-center align-items-center justify-content-between"
                      >
                        <h5 class="card-title">{{ giochi[j][1] }}</h5>
                        <p class="card-text">{{ giochi[j][2] }}€</p>
                      </div>
                      <div
                        class="card-footer border border-0 bg-white d-flex align-items-center justify-content-center"
                      >
                        <input
                          type="hidden"
                          value="{{ giochi[j][0] }}"
                          name="item_id"
                        />
                        <button
                          type="submit"
                          class="btn btn-primary"
                          onclick="handleAddItemToCart('buy-latests-games-form-{{ j }}-responsive')"
                        >
                          Compra ora
                        </button>
                      </div>
                    </div>
                  </form>
                  {% endif %} {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicatorsResponsive"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicatorsResponsive"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <!-- Showing the videogames that costs less than 40 euros -->
        <div class="d-flex flex-column">
          <p
            class="d-flex aling-items-center justify-content-center"
            style="font-size: 2rem"
          >
            Giochi sotto i 40 €
          </p>
          <div
            id="carouselExampleIndicators2"
            class="carousel slide"
            data-bs-ride="carousel"
            style="height: 36.5rem !important"
          >
            <div class="carousel-inner">
              {% for i in range(0, giochi2|length, 3) %}
              <div class="carousel-item {% if i == 0 %}active{% endif %} h-100">
                <div
                  class="d-flex align-items-stretch justify-content-center"
                  style="gap: 1rem"
                >
                  {% for j in range(i, i + 3) %} {% if j < giochi2|length %}
                  <form method="post" id="buy-less-than-40-games-{{ j }}">
                    <div
                      class="card"
                      style="width: 18rem; height: 100% !important"
                    >
                      <img
                        src="{{ url_for('static', filename='image/' + giochi2[j][7]) }}"
                        class="card-img-top"
                        alt="game"
                        style="object-fit: cover; max-height: 22rem"
                      />
                      <div
                        class="card-body text-center align-items-center justify-content-between"
                      >
                        <h5 class="card-title">{{ giochi2[j][1] }}</h5>
                        <p class="card-text">{{ giochi2[j][2] }}€</p>
                      </div>
                      <div
                        class="card-footer border border-0 bg-white d-flex align-items-center justify-content-center"
                      >
                        <input
                          type="hidden"
                          value="{{giochi2[j][0]}}"
                          name="item_id"
                        />
                        <button
                          type="submit"
                          class="btn btn-primary"
                          onclick="handleAddItemToCart('buy-less-than-40-games-{{ j }}')"
                        >
                          Compra ora
                        </button>
                      </div>
                    </div>
                  </form>
                  {% endif %} {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators2"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators2"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div
            id="carouselDoubleExampleIndicators2Responsive"
            class="carousel slide"
            data-bs-ride="carousel"
            style="height: 36.5rem !important"
          >
            <div class="carousel-inner">
              {% for i in range(0, giochi2|length, 2) %}
              <div class="carousel-item {% if i == 0 %}active{% endif %} h-100">
                <div
                  class="d-flex align-items-stretch justify-content-center"
                  style="gap: 1rem"
                >
                  {% for j in range(i, i + 2) %} {% if j < giochi2|length %}
                  <form
                    method="post"
                    id="buy-less-than-40-games-{{ j }}-responsive-double"
                  >
                    <div
                      class="card"
                      style="width: 18rem; height: 100% !important"
                    >
                      <img
                        src="{{ url_for('static', filename='image/' + giochi2[j][7]) }}"
                        class="card-img-top"
                        alt="game"
                        style="object-fit: cover; max-height: 22rem"
                      />
                      <div
                        class="card-body text-center align-items-center justify-content-between"
                      >
                        <h5 class="card-title">{{ giochi2[j][1] }}</h5>
                        <p class="card-text">{{ giochi2[j][2] }}€</p>
                      </div>
                      <div
                        class="card-footer border border-0 bg-white d-flex align-items-center justify-content-center"
                      >
                        <input
                          type="hidden"
                          value="{{giochi2[j][0]}}"
                          name="item_id"
                        />
                        <button
                          type="submit"
                          class="btn btn-primary"
                          onclick="handleAddItemToCart('buy-less-than-40-games-{{ j }}-responsive-double')"
                        >
                          Compra ora
                        </button>
                      </div>
                    </div>
                  </form>
                  {% endif %} {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselDoubleExampleIndicators2Responsive"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselDoubleExampleIndicators2Responsive"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div
            id="carouselExampleIndicators2Responsive"
            class="carousel slide"
            data-bs-ride="carousel"
            style="height: 36.5rem !important"
          >
            <div class="carousel-inner">
              {% for i in range(0, giochi2|length, 1) %}
              <div class="carousel-item {% if i == 0 %}active{% endif %} h-100">
                <div
                  class="d-flex align-items-stretch justify-content-center"
                  style="gap: 1rem"
                >
                  {% for j in range(i, i + 1) %} {% if j < giochi2|length %}
                  <form
                    method="post"
                    id="buy-less-than-40-games-{{ j }}-responsive"
                  >
                    <div
                      class="card"
                      style="width: 18rem; height: 100% !important"
                    >
                      <img
                        src="{{ url_for('static', filename='image/' + giochi2[j][7]) }}"
                        class="card-img-top"
                        alt="game"
                        style="object-fit: cover; max-height: 22rem"
                      />
                      <div
                        class="card-body text-center align-items-center justify-content-between"
                      >
                        <h5 class="card-title">{{ giochi2[j][1] }}</h5>
                        <p class="card-text">{{ giochi2[j][2] }}€</p>
                      </div>
                      <div
                        class="card-footer border border-0 bg-white d-flex align-items-center justify-content-center"
                      >
                        <input
                          type="hidden"
                          value="{{giochi2[j][0]}}"
                          name="item_id"
                        />
                        <button
                          type="submit"
                          class="btn btn-primary"
                          onclick="handleAddItemToCart('buy-less-than-40-games-{{ j }}-responsive')"
                        >
                          Compra ora
                        </button>
                      </div>
                    </div>
                  </form>
                  {% endif %} {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators2Responsive"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators2Responsive"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <!-- Showing only videogames with pegi 12 or less-->
        <div class="d-flex flex-column">
          <p
            class="d-flex aling-items-center justify-content-center"
            style="font-size: 2rem"
          >
            Giochi per tutti
          </p>
          <div
            id="carouselExampleIndicators3"
            class="carousel slide"
            data-bs-ride="carousel"
            style="height: 36.5rem !important"
          >
            <div class="carousel-inner">
              {% for i in range(0, giochi3|length, 3) %}
              <div class="carousel-item {% if i == 0 %}active{% endif %} h-100">
                <div
                  class="d-flex align-items-stretch justify-content-center"
                  style="gap: 1rem"
                >
                  {% for j in range(i, i + 3) %} {% if j < giochi3|length %}
                  <form method="post" id="buy-for-everyone-games-{{ j }}">
                    <div
                      class="card"
                      style="width: 18rem; height: 100% !important"
                    >
                      <img
                        src="{{ url_for('static', filename='image/' + giochi3[j][7]) }}"
                        class="card-img-top"
                        alt="game"
                        style="object-fit: cover; max-height: 22rem"
                      />
                      <div
                        class="card-body text-center align-items-center justify-content-between"
                      >
                        <h5 class="card-title">{{ giochi3[j][1] }}</h5>
                        <p class="card-text">{{ giochi3[j][2] }}€</p>
                      </div>
                      <div
                        class="card-footer border border-0 bg-white d-flex align-items-center justify-content-center"
                      >
                        <input
                          type="hidden"
                          value="{{giochi3[j][0]}}"
                          name="item_id"
                        />
                        <button
                          type="submit"
                          class="btn btn-primary"
                          onclick="handleAddItemToCart('buy-for-everyone-games-{{ j }}')"
                        >
                          Compra ora
                        </button>
                      </div>
                    </div>
                  </form>
                  {% endif %} {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators3"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators3"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div
            id="carouselDoubleExampleIndicators3Responsive"
            class="carousel slide"
            data-bs-ride="carousel"
            style="height: 36.5rem !important"
          >
            <div class="carousel-inner">
              {% for i in range(0, giochi3|length, 2) %}
              <div class="carousel-item {% if i == 0 %}active{% endif %} h-100">
                <div
                  class="d-flex align-items-stretch justify-content-center"
                  style="gap: 1rem"
                >
                  {% for j in range(i, i + 2) %} {% if j < giochi3|length %}
                  <form
                    method="post"
                    id="buy-for-everyone-games-{{ j }}-responsive-double"
                  >
                    <div
                      class="card"
                      style="width: 18rem; height: 100% !important"
                    >
                      <img
                        src="{{ url_for('static', filename='image/' + giochi3[j][7]) }}"
                        class="card-img-top"
                        alt="game"
                        style="object-fit: cover; max-height: 22rem"
                      />
                      <div
                        class="card-body text-center align-items-center justify-content-between"
                      >
                        <h5 class="card-title">{{ giochi3[j][1] }}</h5>
                        <p class="card-text">{{ giochi3[j][2] }}€</p>
                      </div>
                      <div
                        class="card-footer border border-0 bg-white d-flex align-items-center justify-content-center"
                      >
                        <input
                          type="hidden"
                          value="{{giochi3[j][0]}}"
                          name="item_id"
                        />
                        <button
                          type="submit"
                          class="btn btn-primary"
                          onclick="handleAddItemToCart('buy-for-everyone-games-{{ j }}-responsive-double')"
                        >
                          Compra ora
                        </button>
                      </div>
                    </div>
                  </form>
                  {% endif %} {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselDoubleExampleIndicators3Responsive"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselDoubleExampleIndicators3Responsive"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div
            id="carouselExampleIndicators3Responsive"
            class="carousel slide"
            data-bs-ride="carousel"
            style="height: 36.5rem !important"
          >
            <div class="carousel-inner">
              {% for i in range(0, giochi3|length, 1) %}
              <div class="carousel-item {% if i == 0 %}active{% endif %} h-100">
                <div
                  class="d-flex align-items-stretch justify-content-center"
                  style="gap: 1rem"
                >
                  {% for j in range(i, i + 1) %} {% if j < giochi3|length %}
                  <form
                    method="post"
                    id="buy-for-everyone-games-{{ j }}-responsive"
                  >
                    <div
                      class="card"
                      style="width: 18rem; height: 100% !important"
                    >
                      <img
                        src="{{ url_for('static', filename='image/' + giochi3[j][7]) }}"
                        class="card-img-top"
                        alt="game"
                        style="object-fit: cover; max-height: 22rem"
                      />
                      <div
                        class="card-body text-center align-items-center justify-content-between"
                      >
                        <h5 class="card-title">{{ giochi3[j][1] }}</h5>
                        <p class="card-text">{{ giochi3[j][2] }}€</p>
                      </div>
                      <div
                        class="card-footer border border-0 bg-white d-flex align-items-center justify-content-center"
                      >
                        <input
                          type="hidden"
                          value="{{giochi3[j][0]}}"
                          name="item_id"
                        />
                        <button
                          type="submit"
                          class="btn btn-primary"
                          onclick="handleAddItemToCart('buy-for-everyone-games-{{ j }}-responsive')"
                        >
                          Compra ora
                        </button>
                      </div>
                    </div>
                  </form>
                  {% endif %} {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators3Responsive"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators3Responsive"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <footer class="info-bar">
          <p>Games & Manga Shop S.R.L.</p>
          <p>address: Via Centro Direzionale ISOLA C4, 80133 Napoli NA</p>
          <p>Email: info@gamesandmangashop.com</p>
          <p>Partita IVA: 0464189042</p>
          <p style="display: flex; justify-content: end; font-size: 10px">
            © 2023 Games&MangaShop.it - All rights reserved
          </p>
          <button id="scrollToTopButton" onclick="scrollToTop()">
            <i class="fa-solid fa-arrow-up"></i>
          </button>
        </footer>

        <!-- Login modal -->
        <div
          class="modal fade"
          id="loginModal"
          tabindex="-1"
          aria-labelledby="loginModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" style="width: 25rem">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-2" id="loginModalLabel">Login</h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  style="box-shadow: none !important"
                ></button>
              </div>
              <div class="modal-body">
                {% if error_message %}
                <script>
                  document.addEventListener("DOMContentLoaded", function () {
                    document.getElementById("errorContent").innerText =
                      "{{ error_message }}";
                    document.getElementById("errorModal").style.display =
                      "block";
                  });
                </script>
                {% endif %}
                <div class="d-flex flex-column align-items-start gap-4">
                  <form
                    id="login"
                    class="d-flex align-items-start flex-column gap-3 w-100"
                  >
                    <div
                      class="d-flex flex-column align-items-start gap-1 w-100"
                    >
                      <label for="email">Email</label>
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Email"
                        aria-label="Email"
                        name="email"
                        id="email"
                      />
                    </div>
                    <div
                      class="d-flex flex-column align-items-start gap-1 w-100"
                    >
                      <label for="password">Password</label>
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        aria-label="Password"
                        name="password"
                        id="password"
                      />
                    </div>
                    <div
                      class="d-flex align-content-center justify-content-start gap-2"
                      id="to-registration"
                    >
                      <p id="createAccountText">Non hai un account?</p>
                      <a data-bs-toggle="modal" data-bs-target="#signupModal">
                        Crealo ora!
                      </a>
                    </div>
                    <button
                      type="submit"
                      class="btn btn-primary"
                      style="transition: all 0.2s ease-in-out"
                      id="login-button"
                    >
                      Accedi
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Sign up modal -->
        <div
          class="modal fade"
          id="signupModal"
          tabindex="-1"
          aria-labelledby="signUpModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-2" id="signUpModalLabel">
                  Registrazione
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  style="box-shadow: none !important"
                ></button>
              </div>
              <div class="modal-body">
                <form id="registration" class="registration-modal w-100">
                  <div class="d-flex flex-column align-items-start gap-1 w-100">
                    <label for="firstName">Nome</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nome"
                      aria-label="Nome"
                      name="firstName"
                      id="firstName"
                      required
                    />
                  </div>
                  <div class="d-flex flex-column align-items-start gap-1 w-100">
                    <label for="lastName">Cognome</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Cognome"
                      aria-label="Cognome"
                      name="lastName"
                      id="lastName"
                      required
                    />
                  </div>
                  <div class="d-flex flex-column align-items-start gap-1 w-100">
                    <label for="birthdate">Data di Nascita</label>
                    <input
                      type="date"
                      class="form-control"
                      placeholder="Data di Nascita"
                      aria-label="Data di Nascita"
                      name="birthdate"
                      id="birthdate"
                      required
                    />
                  </div>
                  <div class="d-flex flex-column align-items-start gap-1 w-100">
                    <label for="phoneNumber">Cellulare</label>
                    <input
                      type="tel"
                      class="form-control"
                      placeholder="Cellulare"
                      aria-label="Cellulare"
                      name="phoneNumber"
                      id="phoneNumber"
                      required
                    />
                  </div>
                  <div class="d-flex flex-column align-items-start gap-1 w-100">
                    <label for="country">Paese</label>
                    <select
                      class="form-select"
                      id="country"
                      name="country"
                      required
                      style="
                        background-color: white !important;
                        color: inherit !important;
                      "
                    >
                      <option selected>Seleziona</option>
                    </select>
                  </div>
                  <div class="d-flex flex-column align-items-start gap-1 w-100">
                    <label for="address">Indirizzo</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Indirizzo"
                      aria-label="Indirizzo"
                      name="address"
                      id="address"
                      required
                    />
                  </div>
                  <div class="d-flex flex-column align-items-start gap-1 w-100">
                    <label for="username">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      aria-label="Username"
                      name="username"
                      id="username"
                      required
                    />
                  </div>
                  <div class="d-flex flex-column align-items-start gap-1 w-100">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      aria-label="Password"
                      name="signupPassword"
                      id="signupPassword"
                      required
                    />
                  </div>
                  <div
                    class="d-flex flex-column align-items-start gap-1"
                    id="email-container"
                  >
                    <label for="email">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      aria-label="Email"
                      name="signupEmail"
                      id="signupEmail"
                      required
                    />
                  </div>
                  <div style="grid-column: 1 / span 2; justify-self: end">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      style="transition: all 0.2s ease-in-out"
                      id="registration-button"
                    >
                      Registrati
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div id="errorModal" class="modal" style="display: none">
          <div class="modal-content">
            <i class="bi bi-x close" onclick="closeModal()"></i>
            <div id="errorContent"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
